<div id="qweanix-block" class="qweanix-block">
    Look on <a href="{{qweanixUrl}}" target="_blank">Qweanix inside!</a>

    <p>
        <span class="qweanix-title">Qweanix</span> вам зара покаже,<br />
        як треба продвати, в нього є DATA!
    </p>

    <a href="{{qweanixUrl}}" target="_blank">
        <button class="qweanix-btn">Get AI-based inside!</button>
    </a>
</div>
